{% extends 'base.html' %}
{% block content %}
    <h1> Sign In
    </h1>
    <form action={{ url_for('login') }} method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
                {{ error }}
            {% endfor %}
        </p>

        <p>
            {{ form.password.label }}
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
                {{ error }}
            {% endfor %}
        </p>

        <p>
            {{ form.remember_me.label }} {{ form.remember_me() }}

        </p>
        <p>
            {{ form.submit.label }}
            {{ form.submit() }}
        </p>
    </form>


{% endblock %}